extends skeleton
block title
	title Privacy Policy
block content
	h1 Privacy Policy
	p We store the following information about you for an indefinite period:
	ul
		li your IP address or hostname
		li your freenode nickname
		li your freenode NickServ account information
		li your authentication status with this service
	p.
		Your freenode nickname, and whether it was authenticated with NickServ
		at the time you interacted with this service, can be accessed by anybody
		that knows your random string.
	p.
		It is possible that someone could brute-force
		their way through all possible code permutations to find your information.
		Later iterations will remove or sanitise this information!
	p.
		This information is only stored if you interact with the application
		through the VERIFY command. Page view statistics are not routinely
		logged by the application, but may be logged by any proxying software.
	p.
		Use of this application may undermine anonymity granted
		by the use of cloaks or other hostname obscuring devices.
	p.
		In certain circumstances, such as using this application from a
		personal device on a university network, your username or real name
		may be exposed.
	p.
		If you are not comfortable with the above, discontinue use of this
		service. Contact a channel operator if you want to be voiced via a
		different method.
	p
		em This service is not affiliated with any educational institution.

	a(href='//github.com/zuzak/soapbox')
		img.github(src='/github.png',alt='Fork me on GitHub')
