doctype html
html
	head
		block title
		block css
			include fontstack
			link(rel='stylesheet', href='/index.css')

	body
		block content
	block footer
		div.privacy
			p
				a(href='/privacy') Privacy policy

