// vim:ft=jade
p.
  Congratulations, your status as a student has been verified.
p.
  You have been voiced in #{channel} temporarily.
  It will last until you disconnect.
  Next time, if you want to be voiced, you will have to go
  through this process again
p.
  To make the voice permanent, you need to authenticate with NickServ.
