h1 {
	font-size: 2em;
}
body {
	font-family: 'Montserrat', sans-serif;
	max-width: 768px;
	font-size: 2em;
	margin: 1em auto;
	color: black;
	background-color: white;
}

em {
	color: rgb( 255, 205, 0 ); /* yellow */
	font-style: normal;
}

.privacy a {
	display:block;
	text-align:right;
	font-size: 0.5em;
	padding: 1em;
}
.privacy {
	font-size: 0.5em;
	padding: 2em;
}
a {
	color: gray;
}
